* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #fff;
    height: auto;
    width: 98%;
    align-items: center;
    justify-content: center;
}



.header-container {
    max-width: 100%;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    height: 100%;
    border: #333333;
}

.categories ul {
    margin-left: 20px;
    grid-column: 1;
    list-style: none;
    display: flex;
}

.button {
    border: none;
    height: 60px;
    width: 90px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #e0e0e0;
}


.header-logo {
    grid-column: 2;
    text-align: center;
}


.hamburger {
    display: none;
    cursor: pointer;
    grid-column: 1;
    justify-self: start;
    padding-left: 1rem;
}



.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: 0.4s;
}


@media (min-width: 769px) {
    .categories ul {
        display: flex;
    }
    .hamburger {
        display: none;
    }
}

@media (max-width: 768px) {

    .categories ul {
        display: block;
        position: absolute;
        top: 90px;
        left: 0;
        width: 200px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
    }


    .categories.active ul {
        max-height: 300px;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 10px;
    }


    .categories.active ul li {
        border-bottom: 1px solid #ccc;
    }


    .hamburger {
        display: block;
        cursor: pointer;
    }
}


.header-logo a {
    text-decoration: none;
    grid-column: 2;
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
}


.icons {
    grid-column: 3;
    height: 100%;
    justify-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
}

.searching_bar {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease;
    margin-right: 50px;
}


.search-input {
    opacity: 0;
    width: 0;
    padding: 5px;
    border: 1px solid black;
    border-radius: 25px;
    transition: width 0.3s ease, opacity 0.3s ease;
}


.searching_bar.active .search-input {
    opacity: 1;
    width: 150px;
}


.icon-find {
    transition: transform 0.3s ease;
}
.searching_bar.active .icon-find {
    transform: translateX(-10px);
}
